
// Body
// $body-bg: #f5f8fa;
// $body-bg: #2c2722;
// $body-bg: #020001;

// Borders
// $laravel-border-color: darken($body-bg, 10%);
// $list-group-border: $laravel-border-color;
// $navbar-default-border: $laravel-border-color;
// $panel-default-border: $laravel-border-color;
// $panel-inner-border: $laravel-border-color;

// Brands
//$brand-primary: #3097D1;
//$brand-info: #8eb4cb;
//$brand-success: #2ab27b;
//$brand-warning: #cbb956;
//$brand-danger: #bf5329;
// $gray-base:              #000;
// $gray-darker:            lighten($gray-base, 13.5%); // #222
// $gray-dark:              lighten($gray-base, 20%);   // #333
// $gray:                   lighten($gray-base, 33.5%); // #555
// $gray-light:             lighten($gray-base, 46.7%); // #777
// $gray-lighter:           lighten($gray-base, 93.5%); // #eee

// $brand-primary: darken(#BE302C, 6.5%); // #337ab7
// $brand-success: #82b129;
// $brand-info: #1B6F73;
// $brand-warning: #BE6F2C;
// $brand-danger: #d9534f;

// Typography
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
// $font-family-sans-serif: "Raleway", sans-serif;
// $font-size-base: 14px;
// $line-height-base: 1.6;
//$text-color: #636b6f;
// $text-color: #fff;

// Navbar
// $navbar-default-bg: #fff;
// $navbar-inverse-bg: #2c2722;
// $navbar-inverse-bg: $body-bg;

// Buttons
// $btn-default-color: $text-color;

// Inputs
// $input-border: lighten($text-color, 40%);
// $input-border-focus: lighten($brand-primary, 25%);
// $input-color-placeholder: lighten($text-color, 30%);

// Panels
// $panel-default-heading-bg: #fff;

// Navbar
// $navbar-inverse-link-color: darken($gray-lighter, 20%);


// Non-bootstrap stuff
$m-box-padding: 25px;

// $component-active-bg: $brand-info;
// $input-border-focus: $gray-dark;

