$card-padding: 20px;

.card {
    background-color: #fff;
    padding: $card-padding;
    margin: 0px 1% 35px 0px;
    color: $gray-darker;


    @include box_shadow(1px 1px 3px rgba(0, 0, 0, 0.1));

    &.col-md-4 {
        @media (min-width: $screen-md) {
            width: 32.33333%;
            &:nth-child(3n+4) {
                clear: left;
            }
        }
    }

    &.col-md-8 {
        @media (min-width: $screen-md) {
            width: 64.66666%;
        }
    }

    &.col-sm-8 {
        @media (min-width: $screen-sm) {
            width: 64.66666%;
        }
    }

    &.col-sm-4 {
        @media (min-width: $screen-sm) {
            width: 32.33333%;
        }
    }

    &.col-sm-6 {
        @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
            width: 49%;
            &:nth-child(2n) {
                clear: left;
            }
        }
    }

    &.col-sm-6.only {
        @media (min-width: $screen-sm-min) {
            width: 49%;
        }
    }

    p {
        color: lighten($gray-darker, 20%);

        &.text-danger {
            color: $brand-danger;
        }
    }

    .well {
        border: none;
        box-shadow: none;
    }
}

.row .card {
    @media (max-width: $screen-sm) {
        margin: 15px;
    }
}

div[class^="col-"] {
    &.no-pad-xs {
        @media (max-width: $screen-xs-max) {
            padding: 0px !important;
        }
    }
    &.no-pad-sm {
        @media (max-width: $screen-sm-max) {
            padding: 0px !important;
        }
    }
}

div[class^="col-"].no-pad-xs {
}
