section.events {
    background-color: $gray-darker;
    color: $gray-lighter;

    p.lead a:hover {
        color: $gray-lighter;
    }
}

.card {
    &.event-card {

        figure {
            margin-top: -$card-padding;
            margin-left: -$card-padding;
            margin-right: -$card-padding;
        }
    }


    &.col-md-3 {
        @media (min-width: $screen-md) {
            width: 24%;
        }
    }
}
