footer {
    nav.navbar {
        margin-bottom: 0px;
    }
    .container {
        padding: 30px 0;
    }
    .copyright {
        padding: 14px 0;
        color: $navbar-inverse-link-color;
    }

    ul.nav.navbar-nav {
        @media(max-width: $screen-sm) {
            text-align: center;
        }
    }
}
