section.callouts {
    padding: $m-box-padding;
    padding-top: 2*$m-box-padding;

    .col-sm-4 {
        margin-bottom: 20px;
    }

    a {
        color: $gray-lighter;
        text-shadow: rgba(0, 0, 0, 0.5) 3px 3px 2px;

        transition-property: color;
        transition-duration: 200ms;
        transition-timing-function: ease-in-out;

        figure {
            figcaption {
                position: absolute;
                top: 50%;
                margin-top: -35px;
                padding-right: 30px;
                width: 100%;
                text-align: center;
            }

            border: 5px solid rgba(0, 0, 0, 0);
        }

        &:hover {

            figure {
                border-color: $gray-lighter;
            }}
    }
}

.carousel
{
    // max-width: 1600px;
    // margin: 0 auto;

    .carousel-inner {
        .item.active {
            min-height: 400px;

            a {
                height: 100%;
                width: 70%;
                margin-left: 15%;
                margin-right: 15%;
                position: absolute;
            }
        }
    }

}
