section.main {
    background-color: $gray-lighter;
    color: $gray-darker;
    padding: $m-box-padding 0;

    ul.nav.nav-pills {
        margin: 0px 0px $m-box-padding 0px;

        li {
            margin-right: 4px;

            a {
                font-weight: 700;
                border-radius: 25px;
                padding: 10px 20px;

                background-color: #fff;

                @include box_shadow(1px 1px 3px rgba(0, 0, 0, 0.1));

                transition-property: color, background-color;
                transition-duration: 200ms;

                &:hover {
                    color: #fff;
                    background-color: $brand-primary;
                }
            }

            &.active {
                a {
                    background-color: $brand-primary;
                }
            }
        }
    }
}
