nav.main-nav {

    margin-bottom: 0;

    background-color: transparent;
    background-image: url('/img/nav-gradient.png');
    background-repeat: repeat-x;

    &.navbar {
        border: none;
    }

    ul.navbar-nav {

        li {

            a {
                margin: 2px;
                font-family: 'BenchNine', sans-serif;
                text-transform: uppercase;
                font-size: 21px;
                font-weight: 400;
                color: $navbar-inverse-link-color;
                border: 1px solid rgba(0, 0, 0, 0);
                border-radius: 3px;

                transition-property: color, border-color;
                transition-duration: 200ms;
                transition-timing-function: ease-in-out;

                &:hover, &.current {
                    color: $gray-lighter;
                    border-color: $gray-lighter;
                }
            }
        }
    }
}
