.news-card
{
    nav.article-nav
    {
        a
        {
            width: 50%;
            padding-top: 20px;
            padding-bottom: 20px;
            font-family: 'BenchNine', sans-serif;
            text-transform: uppercase;
            font-size: 1.5em;

            &.prev {
                float: left;
                text-align: left;
            }

            &.next {
                float: right;
                text-align: right;
            }
        }
    }
}
