table.taproom-hours {
    @media (max-width: $screen-sm) {
        background-image: url(/img/fox-square.png);
        background-position: 50% 50%;
        background-repeat: no-repeat;
    }

    tr {
        th, td {
            border-bottom: 1px solid #ddd;
            border-top: none !important;

        }

        &:last-child {
            th, td {
                border-bottom: none !important;
            }
        }
    }
}
