header {
    background-image: url('/img/header-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 0;
}

.title-section {
    h1 {
        font-size: 70px;
        text-shadow: rgba(0, 0, 0, 0.5) 3px 3px 2px;
    }

    padding: 50px 0px 50px 0px;

    ol.breadcrumb {
        display: inline-block;
        background: #000;
        background-color: rgba(0, 0, 0, 0.4);
        color: #ccc;
        border-radius: 18px;

        a {
            text-shadow: rgba(0, 0, 0, 0.4) 1px 1px 1px;
            color: #ccc;

            &:hover {
                color: #a32926
            }
        }

        li.separator {
            font-size: 50%;
            color: #a32926
        }

        li + li {
            padding-left: 5px;
            &:before {
                content: initial;
            }
        }

    }
}
