.triptych {
    background-color: $gray-dark;
    color: $navbar-inverse-link-color;

    .col-sm-4 {
        margin: $m-box-padding 0;
        text-align: center;
    }

    h2, h3 {
        text-align: center;
    }

    a {
        color: lighten($brand-primary, 10%);
        &:hover {
            color: $brand-primary;
        }
    }

    .thefox {
        @media (max-width: $screen-sm) {
            display: none;
        }
        text-align: center;
        figure {
            width: 75%;
            margin: 0 auto;
            max-width: 245px;
        }
    }
}
