
// Fonts
@import url(//fonts.googleapis.com/css?family=Raleway:300,400,600);
@import url(//fonts.googleapis.com/css?family=Noto+Sans:400,700%7CBenchNine:300,400,700);

// Variables
@import "variables";

// Mixins
@import "mixins";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

// Modules
@import "nav";
@import "title";
@import "footer";
@import "triptych";
@import "main";
@import "contact";
@import "card";
@import "taproom-hours";
@import "event";
@import "home";
@import "editor-content";
@import "news";



h1, h2, h3, h4, h5, h6 {
    font-family: 'BenchNine', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}

// for the fixed footer
// body {
//     padding-bottom: 70px;
// }

nav.main-nav {
    .navbar-header {
        height: 130px;
    }

    button.navbar-toggle,
    ul.navbar-right {
        margin-top: 43px;
    }
}

a.navbar-brand {
    padding: 10px 15px;
    img {
        max-height: 110px;
    }
}

figure {
    img {
        width: 100%;
    }
}

section {
    padding: $m-box-padding 0;
}
